
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

.flashcard {
    min-height: 180px;     perspective: 1000px;
}

.card-inner {
    height: 100%;
    width: 100%;
}


.card-front, .card-back {
    word-wrap: break-word;
    overflow-y: auto;     
    font-size: 1.1rem;
}


@media (max-width: 480px) {
    body {
        padding: 10px;
    }
    
    .card-form {
        display: flex;
        flex-direction: column; 
    }
    
    .card-list {
        grid-template-columns: 1fr; 
    }
}